.artman2-left {
	float: left;
	margin-right: 1em;
	margin-bottom: 16px;
}

.artman2-right {
	float: right;
	margin-left: 1em;
	margin-bottom: 16px;
}

.artman2-center {
}

span.artman2  {
	display: block;
}

span.artman2 img {
	display: block;
}

span.artman2 span.caption {
	display: block;
}
